NODE_ENV=development
PORT=5000


# DATABASE ENVIRONMENT VARIABLES
LIVE_DB_TYPE=postgres
LIVE_DB_HOST=plaventi.mysql.database.azure.com
LIVE_DB_PORT=5432
LIVE_DB_USER=plaventi
LIVE_DB_NAME=plaventi
LIVE_DB_PASSWORD=WatcheTech@MS2024!

DEV_DB_TYPE=postgres
DEV_DB_HOST=localhost
DEV_DB_PORT=5432
DEV_DB_USER=plaventi
DEV_DB_NAME=plaventi
DEV_DB_PASSWORD=passcode
# END OF DATABASE ENVIRONMENT VARIABLES


# JWT ENVIRONMENT VARIABLES
JWT_SECRET=yJG2CVYcuceuMXopLLkaBpUnajO9Zw3hz0o6Z6t96unSsfCdST9ZjYpiJ1YoJmcFFXpVIVAyEBi9NsjbqzLSr7kAn43HAcRIPSbeLyIxjpIQDDw6hhie2MMZinGENXASD6ghSKXZE2vQk4LmODglTu
REFRESH_JWT_SECRET=857WdqLyCOQOmelFvtJtPWOkJifyVY3ohUZSGoqCXY32j64A27WcUJsIU2eCQ0apmYRHtE7c4Pm2DW2sosWF1mNDakw0EzJ8aWOdFqDdv1OrSOa1xeiGlwCZE4UfRnmJ5EkuQ6kX6COQ
JWT_AUTH_TOKEN_EXPIRATION=45d
JWT_REFRESH_TOKEN_EXPIRATION=120d
# ENO OF ENVIRONMENT VARIABLES


# EMAIL ENVIRONMENT VARIABLES
LIVE_EMAIL_HOST=live.smtp.mailtrap.io
LIVE_EMAIL_USER=api
LIVE_EMAIL_PASS=e6940c4b2e6830c467ee7ab39de22281
LIVE_EMAIL_PORT=587

DEV_EMAIL_HOST=sandbox.smtp.mailtrap.io
DEV_EMAIL_USER=81806e976d160d
DEV_EMAIL_PASS=9a6c8b101cdbd6
DEV_EMAIL_PORT=587
# END OF EMAIL ENVIRONMENT VARIABLES


REQUEST_RATE_TTL=1
REQUEST_RATE_LIMIT=100

# CACHE ENVIRONMENT VARIABLES
LIVE_REDIS_HOST=redis
LIVE_REDIS_PORT=6379

DEV_REDIS_HOST=redis
DEV_REDIS_PORT=6379
# END OF CACHE ENVIRONMENT VARIABLES


# CLOUD STORAGE ENVIRONMENT VARIABLES
AZURE_BLOB_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=seenergy;AccountKey=zvnWLc0EvBJWvcKeIMPH0vnF0rR5lq+2RgQdWM1U+wSY6ooMyVmfxtOQCUv2mPL+fx5NpNKKknr6+AStoT25zg==;EndpointSuffix=core.windows.net"
AZURE_BLOB_STORAGE_CONTAINER_NAME=seenergy-press
AZURE_BLOB_STORAGE_URL="https://seenergy.blob.core.windows.net/seenergy-press/"

AWS_ACCESS_KEY_ID=AKIAVXAAYHXYYILQ4SMJ
AWS_SECRET_ACCESS_KEY=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
AWS_S3_REGION=us-east-1
AWS_S3_BUCKET=plusone-app-bucket
# END OF CLOUD STORAGE ENVIRONMENT VARIABLES