NODE_ENV=development
PORT=5000


# DATABASE ENVIRONMENT VARIABLES
LIVE_DB_TYPE=postgres
LIVE_DB_HOST=plaventi.mysql.database.azure.com
LIVE_DB_PORT=5432
LIVE_DB_USER=plaventi
LIVE_DB_NAME=plaventi
LIVE_DB_PASSWORD=

DEV_DB_TYPE=postgres
DEV_DB_HOST=localhost
DEV_DB_PORT=5432
DEV_DB_USER=plaventi
DEV_DB_NAME=plaventi
DEV_DB_PASSWORD=passcode
# END OF DATABASE ENVIRONMENT VARIABLES



# JWT ENVIRONMENT VARIABLES
JWT_SECRET=
REFRESH_JWT_SECRET=
JWT_AUTH_TOKEN_EXPIRATION=45d
JWT_REFRESH_TOKEN_EXPIRATION=120d
# ENO OF ENVIRONMENT VARIABLES


# EMAIL ENVIRONMENT VARIABLES
LIVE_EMAIL_HOST=live.smtp.mailtrap.io
LIVE_EMAIL_USER=api
LIVE_EMAIL_PASS=
LIVE_EMAIL_PORT=587

DEV_EMAIL_HOST=sandbox.smtp.mailtrap.io
DEV_EMAIL_USER=
DEV_EMAIL_PASS=
DEV_EMAIL_PORT=587
# END OF EMAIL ENVIRONMENT VARIABLES


REQUEST_RATE_TTL=1
REQUEST_RATE_LIMIT=100

# CACHE ENVIRONMENT VARIABLES
LIVE_REDIS_HOST=redis
LIVE_REDIS_PORT=6379

DEV_REDIS_HOST=redis
DEV_REDIS_PORT=6379
# END OF CACHE ENVIRONMENT VARIABLES


# CLOUD STORAGE ENVIRONMENT VARIABLES
AZURE_BLOB_STORAGE_CONNECTION_STRING=""
AZURE_BLOB_STORAGE_CONTAINER_NAME=plaventi
AZURE_BLOB_STORAGE_URL="https://plaventi.blob.core.windows.net/plaventi/"
# END OF CLOUD STORAGE ENVIRONMENT VARIABLES